.default-container {
  height: 100vh;
}

.black-radial-gradient {
  background: url('../../assets/img/gradient-radial-bg.jpg') top center no-repeat;
  background-size: cover;
}

.pr-text {
  padding-right: 2%;
}

.container-text {
  z-index: 3;

  > .title {
    position: absolute;
    @extend .absolute-horizontal-center;
    top: 8%;
  }
  .center-text-double {
    position: absolute;
    @extend .absolute-horizontal-center;
    top: 47%;
  }
  .btn-block {
    position: absolute;
    @extend .absolute-horizontal-center;
    bottom: 20%;
  }
}

.dog-human-container {
  background: url('../../assets/img/dog-human-bg.jpg') top center no-repeat;
  background-size: cover;
  position: relative;
}

.woman-container {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../../assets/img/woman-bg.jpg') top center no-repeat;
  background-size: cover;
  position: relative;
}