@-webkit-keyframes AnimationName {
  0% {
    background-position: 75% 0%
  }
  50% {
    background-position: 5% 100%
  }
  100% {
    background-position: 75% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 75% 0%
  }
  50% {
    background-position: 5% 100%
  }
  100% {
    background-position: 75% 0%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 75% 0%
  }
  50% {
    background-position: 5% 100%
  }
  100% {
    background-position: 75% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 75% 0%
  }
  50% {
    background-position: 5% 100%
  }
  100% {
    background-position: 75% 0%
  }
}

.gradient-container {
  background-color: #ebb596;
  background-image: -webkit-linear-gradient(#b70445, #5d07eb);
  background-image: -webkit-linear-gradient(#b70445, #5d07eb);
  background-image: linear-gradient(#b70445, #5d07eb);
  background-size: 170% 170% !important;
  position: relative;
  transition: background 1s ease;
  -webkit-transition: background 1s ease;
  &.keyframes {
    /*
    background: linear-gradient(55deg, #b70445, #5d07eb) !important;
    */
    background-size: 170% 170% !important;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    transition: background 1s ease;
    -webkit-transition: background 1s ease;
  }
  .container-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    p {
      width: 35%;
      margin: auto;
    }
  }
  .look-more {
    position: absolute;
    bottom: 13%;
    left: 0;
    right: 0;
    span {
      opacity: .5;
    }
  }
  .down {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3%;
    background: url("../../assets/img/more.png") no-repeat;
    width: 20px;
    height: 61px;
    cursor: pointer;
  }
}