.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: all 1s ease;
  z-index: -1;
  .content {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
    .close {
      position: absolute;
      right: -50px;
      top: -50px;
      width: 42px;
      height: 44px;
      background: url($ico-close) no-repeat;
      cursor: pointer;
    }
    .video {
      height: 100%;
      margin-top: 7%;
    }
  }
}