a {
  color: #fff;
}
.h1 {
  font-size: 10vmin;
  display: block;
  line-height: 100%;
}
.text-big {
  font-family: $font-bold;
  font-size: 5.4vmin;
  display: block;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}