$font-size: 2.4vmin;
$font-light: 'GothamProLight', sans-serif;
$font-bold: 'GothamProBold', sans-serif;
$font-family: $font-light, sans-serif;
$font: $font-size $font-family;

$text-color-dark: #292929;

$fonts-path: '../../assets/fonts/';